NUXT_PUBLIC_ENV=""

NUXT_PUBLIC_API_1=""
NUXT_PUBLIC_API_2=""
NUXT_PUBLIC_API_KEY=""

NUXT_PUBLIC_URLS_AUTH=""
NUXT_PUBLIC_URLS_GPS=""
NUXT_PUBLIC_URLS_PRODUCT=""
NUXT_PUBLIC_URLS_STIPE_PRICE_CALLBACK=""
NUXT_PUBLIC_URLS_SSO=""
NUXT_PUBLIC_URLS_BUILDER=""

NUXT_PUBLIC_PLATFORM=""

NUXT_PUBLIC_BRAND_NAME=""

APP_BASE_URL=""
